In [1]:
#qest1

name = 'omar'
age = 26
salary = 26.3 
print(f'name : {type(name)} age :{type(age)} salary : {type(salary)}')

name : <class 'str'> age :<class 'int'> salary : <class 'float'>

In [ ]:
#qest2

name = 'omar'
age = 26
salary = 26.3

In [8]:
#qest 3 
user_input = int(input("please enter a numbers"))
print(len(str(user_input)))

please enter a numbers 123

3

In [22]:
#qest4
number = int(input("please enter a number"))
k = int(input("please enter a 'k' "))
while k > 0 :
    number = number // 10
    k -= 1
print (number)

please enter a number 00235
please enter a 'k'  2

2

In [34]:
#qest5
result = list(map(int,input("please enter a numbers with spaces btw them").split()))
print(f'max is {max(result)} and min is {min(result)}')

please enter a numbers with spaces btw them 1 2 3

max is 3 and min is 1

In [23]:
number = int(input("please enter a number"))
k = int(input("please enter a 'k' "))
result = number // 10 ** k 
result

please enter a number 2587
please enter a 'k'  2

25

In [28]:
x = 'omar adel elqersh'
x.split()

['omar', 'adel', 'elqersh']

In [21]:
#qest 6 
a = int(input("please enter a number"))
b = int(input("please enter a number"))
minn = min(a,b)
minn

please enter a number 5
please enter a number 7

5

In [ ]:
#qest 7

salary = int(input("please enter your salary "))
if salary < 1000:
    print("you are poor")
elif salary < 20000:
    print("good salary")
else :
    print("you are rich")

In [24]:
#qest 8
user_name = str(input("please enter your name"))
user_age = int(input("please enter your age"))
if user_age >= 18 :
    print(f"{user_name} your age is {user_age} and you can drive")
else :
    print(f"{user_name} your age is {user_age} and you can not  drive")

please enter your name omar
please enter your age 19

omar your age is 19 and you can drive