In [6]:
#task 1 

total = 10
def add_to_total(n):
    global total 
    total = total + n
    local_total = n 
    return total ,local_total
    
    

add_to_total(25)

(35, 25)

In [38]:
#task 2
balance = 1000
def withdraw(amount):
    global balance
    withdraw_value = amount 
    if amount > balance :
        print(f"your balance is not enough {balance}")
    else :
        balance = balance - amount 
        print (f"you withdraw {withdraw_value} and your balance now is {balance}")


withdraw(800)

you withdraw 800 and your balance now is 200

In [39]:
#task 3 
count = 20
def modify_global_var():
    count = 10 
    print(f"the local var is {count}")


modify_global_var()
print(f"the global var is {count}")

the local var is 10
the global var is 20

In [40]:
#task 4
lst = [000,111,222,333,4444]
for i , j in enumerate(lst):
    print (f"index is { i } , value in the list is {j}")

index is 0 , value in the list is 0
index is 1 , value in the list is 111
index is 2 , value in the list is 222
index is 3 , value in the list is 333
index is 4 , value in the list is 4444

In [41]:
#task 5 
lst = [000,111,222,333,4444]
for i , j in enumerate(lst , start = 1):
    print (f"index is { i  } , value in the list is {j}")

index is 1 , value in the list is 0
index is 2 , value in the list is 111
index is 3 , value in the list is 222
index is 4 , value in the list is 333
index is 5 , value in the list is 4444

In [42]:
#task 5 
lst = [000,111,222,333,4444]
for i , j in enumerate(lst ):
    print (f"index is { i + 1 } , value in the list is {j}")

index is 1 , value in the list is 0
index is 2 , value in the list is 111
index is 3 , value in the list is 222
index is 4 , value in the list is 333
index is 5 , value in the list is 4444

In [43]:
#task 6 

result = list(map(lambda arg : arg ** 2 , [2,3,4,5]))
result

[4, 9, 16, 25]

In [44]:
# task 7
result = list(filter(lambda arg : arg % 2 == 0 , [1, 2, 3, 4, 5, 6] ))
result

[2, 4, 6]

In [45]:
#task 8

string = 'omar adel '
rev = lambda arg : arg[::-1]
rev(string)

' leda ramo'

In [46]:
#task 9 

class Student:
    def __init__(self , name , age ,salary):
        #attriubtes
        self.nam = name
        self.ag = age 
        self.sala = salary


st1 = Student("omar",26 , 2000)
print(f"my name is {st1.nam} and my age is {st1.ag} and my salary is {st1.sala}")

my name is omar and my age is 26 and my salary is 2000

In [47]:
#task 10
class Student:
    def __init__(self , name , age ,salary):
        #attriubtes
        self.nam = name
        self.ag = age 
        self.sala = salary
    def get_detials(self):
        print(f"my name is {self.nam} and my age is {self.ag} and my salary is {self.sala}")

st2 = Student("omaradel" , 26 , 3000)
st2.get_detials()

my name is omaradel and my age is 26 and my salary is 3000